@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
    --font-inter    : 'DM Sans', sans-serif;
    --font-ptser    : 'DM Sans', serif;
    --color-accent  : #009cbe;
    --color-accent-dim  : #80CDDF;
    --color-dark    : #1e2021;
    --color-medium  : #6d6d6d;
    --color-light   : #c5c7c9;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    margin: 0px;
}

body {
    margin          : 0 auto;
    
    max-width       : 550px;
    font-family     : var(--font-ptser);
    color           : var(--color-dark);
    margin-top      : 150px;
    padding         : 25px;
}

@media only screen and (max-width: 700px) {
    body {
        margin-top  : 0px;
    }
}

h1 {
    font-size       : 20px;
    line-height     : 30px;
    font-weight     : 700;
    margin-bottom   : 40px;
}

p {
    font-size       : 16px;
    line-height     : 26px;
    margin-bottom   : 20px;
}

a {
    color           : var(--color-accent);
    padding-bottom  : 1px;
    text-decoration : none;
}

a:hover {
    border-bottom   : 1px solid var(--color-accent-dim);
}

#profile-pic {
    background-image: url('https://0xf17.xyz/0xf17.png');
    background-size : cover;
    width           : 90px;
    height          : 90px;
    margin-bottom   : 40px;
}

#logo {
    background-image: url('https://mathscapes.xyz/ms-logo.svg');
    background-size : cover;
    width           : 50px;
    height          : 50px;
    margin-bottom   : 40px;
}

.spacer {
    height          : 40px;
}

.foot-spacer {
    height          : 150px;
}

hr {
    border-top      : none;
    margin-top      : 40px;
    margin-bottom   : 40px;
    border-color    : var(--color-light);
}

details {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-light);
}

summary {
    font-weight     : normal;
    margin-top      : 10px;
    margin-bottom   : 10px;
    font-family     : var(--font-inter);
    font-size       : 12px;
    line-height     : 135%;
    letter-spacing  : 0.05em;
    text-transform  : uppercase;
    color           : #6D6D6D;
}
ul {
    list-style-type : none;
    padding         : 0px;
}
li {
    margin-top      : 20px;
    padding-bottom  : 20px;
    width           : 100%;
    border-bottom   : 1px solid var(--color-light);
}
li:last-child{
    border-bottom   : none;
}
li p{
    color           : var(--color-medium);
    margin-bottom   : 5px;
}
li p b {
    color           : var(--color-dark) !important;
    font-weight     : normal;
    margin-right    :10px;
}
p.small {
    font-family: var(--font-inter);
    font-size: 12px;
    line-height: 16px;
    color: var(--color-medium);
}
.dim {
    color: var(--color-light) !important;
}

.srishti {
    color:chocolate;
}
.srishti2 {
    color: orange;
}
.ms {
    color:#009cbe;
}
.indie {
    color:slategray;
}
.m56 {
    color: purple;
}
.srishti3 {
    color:slateblue;
}
details a {
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    background-color: rgba(0, 0, 0,0.05);
    color:rgba(0, 0, 0,0.5);
    border-radius: 1px;
    padding: 0px 4px 1px 4px;
    margin: 1px;
    position: relative;
    top:-2px;
    text-decoration: none;
}
details a:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    text-decoration: none !important;
    border-bottom: none;
}